<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Beauty Salon Comments</title>
</head>
<body>
<div th:replace="parts/adminheader :: adminheader"></div>

<table class="table table-hover">
    <thead>
    <tr>
        <th th:text="#{var.beautyservice}">Service</th>
        <th th:text="#{var.date}">Date</th>
        <th th:text="#{var.time}">Time</th>
        <th th:text="#{var.username}">User's name</th>
        <th th:text="#{var.provided}">Provided</th>
        <th>Set Provided</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(archiveAppointments)}">
        <td colspan="2"> No appointments available</td>
    </tr>
    <!--    /*@thymesVar id="servicetypes" type="List"*/-->
    <tr th:each="appointment : ${archiveAppointments}">
        <td>
            <span th:text="${appointment.getBeautyService().getName()}">Service</span>
        </td>
        <td>
            <span th:text="${appointment.getDate()}">Date</span>
        </td>
        <td>
            <span th:text="${appointment.getTime()}">Time</span>
        </td>
        <td>
            <span th:text="${appointment.getUser().getName()}">User's name</span>
        </td>
        <td>
            <span th:text="#{|bool.${appointment.isProvided()}|}">Provided</span>
        </td>
        <!--            <td>-->
        <!--                <form th:action="@{/user/comment}">-->
        <!--                <div class="row-fluid practice" style="width: 99%; height: 100%;">-->
        <!--                    <button type="submit" name="appointmentId" th:value="${appointment.id}"-->
        <!--                    th:text="#{message.leave.comment}">-->
        <!--                        Leave a comment</button>-->
        <!--                </div>-->
        <!--                </form>-->
        <!--            </td>-->
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" th:if="${archiveAppointments.totalPages > 0}">
        <li class="page-item" th:each="pageNumber : ${pageNumbers}">
            <a class="page-link"
               th:href="@{/admin/archiveappointments(size=${archiveAppointments.size}, page=${pageNumber})}"
               th:text="${pageNumber+1}"></a></li>
    </ul>
</nav>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>