<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Beauty Salon Appointments</title>
</head>
<body>
<div class="col-4 buttons">
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=en_US'" th:text="#{language.en}"></button>
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=ua_UA'" th:text="#{language.ua}"></button>
</div>
<div>
    <div class="name" th:text="${name}"></div>
    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="logout"></button>
</div>
<div class="panel-body">
    <div class="alert" th:if="${error}">
        <div class="alert alert-danger" role="alert">Master not found!</div>
    </div>
    <p th:utext="#{message.master.schedule(${master.getUser().getName()})}">Master</p>
</div>

<form th:action="@{/master/makeprovided}">
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{var.beautyservice}">Service</th>
            <th th:text="#{var.date}">Date</th>
            <th th:text="#{var.time}">Time</th>
            <th th:text="#{var.username}">User's name</th>
            <th th:text="#{var.provided}">Provided</th>
            <th>Set Provided</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(appointments)}">
            <td colspan="2"> No appointments available</td>
        </tr>
        <!--    /*@thymesVar id="servicetypes" type="List"*/-->
        <tr th:each="appointment : ${appointments}">
            <td>
                <span th:text="${appointment.getBeautyService().getName()}">Service</span>
            </td>
            <td>
                <span th:text="${appointment.getDate()}">Date</span>
            </td>
            <td>
                <span th:text="${appointment.getTime()}">Time</span>
            </td>
            <td>
                <span th:text="${appointment.getUser().getName()}">User's name</span>
            </td>
            <td>
                <span th:text="#{|bool.${appointment.isProvided()}|}">Provided</span>
            </td>
            <td>
                <div class="row-fluid practice" style="width: 99%; height: 100%;">
                    <button type="submit" name="appointmentId" th:value="${appointment.id}"
                    th:text="#{message.provided}">
                        Finished</button>
                </div>
<!--                <label for="isProvided">isProvided</label>-->
<!--                <input type="radio" name="isProvided" id="true" value="true"><br>-->
<!--                <input type="submit" value="Submit">-->
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div th:if="${appointments.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/master/appointments(size=${appointments.size}, page=${pageNumber})}"
       th:text="${pageNumber+1}"
       th:class="${pageNumber==appointments.number+1} ? active"></a>
</div>
</body>
</html>