<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Beauty Salon Choose Service</title>
</head>
<body>
<div th:replace="parts/header :: header"></div>
<div>
    <p th:text="#{message.appointment.created}"></p>
    <p th:utext="#{message.master(${appointmentDTO.getMasterName()})}">Master</p>
    <p th:utext="#{message.beautyservice(${appointmentDTO.getBeautyService()})}">BeautyService</p>
    <p th:utext="#{message.date(${appointmentDTO.getDate()})}">Date</p>
    <p th:utext="#{message.time(${appointmentDTO.getTime()})}">Time</p>
    <p th:text="#{message.waiting.for.you}">We are waiting for you</p>
</div>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>