<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Beauty Salon Choose Service</title>
</head>
<body>
<div class="col-4 buttons">
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=en_US'" th:text="#{language.en}"></button>
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=ua_UA'" th:text="#{language.ua}"></button>
</div>
<div>
    <p th:text="#{message.appointment.created}"></p>
    <p th:utext="#{message.master(${appointment.getMaster().getUser().getName()})}">Master</p>
    <p th:utext="#{message.beautyservice(${appointment.getBeautyService().getName()})}">BeautyService</p>
    <p th:utext="#{message.date(${appointment.getDate()})}">Date</p>
    <p th:utext="#{message.time(${appointment.getTime()})}">Time</p>

</div>
</body>
</html>