<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Beauty Salon Choose Service</title>
</head>
<body>
<div th:replace="parts/userheader :: userheader"></div>
<div>
    <p th:text="#{message.appointment.created}"></p>
    <p th:utext="#{message.master(${appointment.getMasterName()})}">Master</p>
    <p th:utext="#{message.beautyservice(${appointment.getBeautyService()})}">BeautyService</p>
    <p th:utext="#{message.date(${appointment.getDate()})}">Date</p>
    <p th:utext="#{message.time(${appointment.getTime()})}">Time</p>

</div>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>