<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Beauty Salon Choose Service</title>
</head>
<body>
<div th:replace="parts/header :: header"></div>
<table class="table table-hover">
    <thead>
    <tr>
        <th th:text="#{var.beautyservice}"> Name</th>
        <th th:text="#{var.price}"> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(beautyservices)}">
        <td colspan="2"> No services available</td>
    </tr>
    <tr th:each="beautyservice : ${beautyservices}">
        <td>
            <a th:href="@{'/user/masters/' + ${beautyservice.getId()}}" th:text="${beautyservice.name}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:value="${beautyservice.id}" th:name="beautyserviceId">
            </a></td>
        <td><span th:text="${beautyservice.price}"> Price </span></td>
    </tr>
    </tbody>
</table>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>