<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-4 buttons">
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=en_US'" th:text="#{language.en}"></button>
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=ua_UA'" th:text="#{language.ua}"></button>
</div>
<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${mastertypes.empty}">
        <td colspan="2"> No Masters Available</td>
    </tr>
<!--    /*@thymesVar id="mastertypes" type="List"*/-->
    <tr th:each="mastertypes : ${mastertypes}">
        <td>
            <!--/*@thymesVar id="id" type="net.ukr.lina_chen.beauty_salon_spring_project.entity.Profession"*/-->
            <span th:text="${mastertypes.id}"> Title </span>
            <!--/*@thymesVar id="user" type="net.ukr.lina_chen.beauty_salon_spring_project.entity.Profession"*/-->
            <span th:text="${mastertypes.name}"> Name </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>