<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beauty Salon Schedule</title>
</head>
<body>
<div class="col-4 buttons">
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=en_US'" th:text="#{language.en}"></button>
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=ua_UA'" th:text="#{language.ua}"></button>
</div>
<table>
    <thead>
    <tr>
        <!--        <th th:text = "#{var.beautyservicesType}">Beautyservices Type</th>-->
        <th th:text="Schedule">Schedule</th>
    </tr>
    </thead>
    <tbody>
    <!--    /*@thymesVar id="days" type="List"*/-->
    <tr th:if="${#lists.isEmpty(days)}">
        <td colspan="2"> No dates</td>
    </tr>

    <select >
        <option th:each="day : ${days}" th:value="${day}" th:text="${day}">
        </option>
    </select>
    </tbody>
</table>
</body>
</html>

<!--<select th:field="** {percentage}">-->
<!--    <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">-->
<!--    </option>-->
<!--</select>-->