<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beauty Salon Choose Service type</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th th:text = "#{var.beautyservicesType}">Beautyservices Type</th>
    </tr>
    </thead>
    <tbody>
    <!--    /*@thymesVar id="servicetypes" type="List"*/-->
    <tr th:if="${#lists.isEmpty(servicetypes)}">
        <td colspan="2"> No Masters Available</td>
    </tr>
    <!--    /*@thymesVar id="servicetypes" type="List"*/-->
    <tr th:each="servicetype : ${servicetypes}">
        <td>
            <!--/*@thymesVar id="beautyservicesType" type="net.ukr.lina_chen.beauty_salon_spring_project.entity.Profession"*/-->
            <!--/*@thymesVar id="getId" type="net.ukr.lina_chen.beauty_salon_spring_project.entity.BeautyService"*/-->
            <a th:href="@{'/user/beautyservices/' + ${servicetype.getId()}}" th:text="${servicetype.beautyservicesType}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:value="${servicetype.id}" th:name="professionId">
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

