<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Beauty Salon Schedule</title>
</head>
<body>
<div th:replace="parts/userheader :: userheader"></div>
<p th:utext="#{message.chosen.master(${master.getUser().getName()})}">Chosen master</p>
<p th:utext="#{output.master.schedule(${master.getTimeBegin()},${master.getTimeEnd()})}">Worktime</p>
<div class="info" th:if="${error}">
    <div class="alert alert-danger" role="alert" th:text="#{message.master.busy}">The master is busy at that time</div>
</div>
<form action="/user/saveappointment" th:each="day : ${days}">
    <div class="panel-body">
<!--        <ul class="media-list">-->
<!--            <li class="media">-->
                <div class="treeHTML">
                    <div><h6 th:text="${day}"></h6>
                        <details th:each="busy: ${busyTime}">
                            <summary></summary>

                            <label class="radio-label" th:each="seance : ${time}"
                                   th:if="(${seance}!=${busy.time})and(${day}!=${busy.date})">
                                    <input class="btn btn-outline-info" type="submit" pattern="HH:mm"
                                           th:value="${seance}" name="seanceTime"/>
                            </label>
                        </details>
                    </div>
                </div>
<!--            </li>-->
<!--        </ul>-->
        <input type="hidden" th:value="${day}" name="day"/>
    </div>
</form>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>

<!--<div class="treeHTML">Сайт-->
<!--    <div>Блог-->
<!--        <details>-->
<!--            <summary></summary>-->
<!--            <div>HTML</div>-->
<!--            <div>CSS</div>-->
<!--            <div>JavaScript</div>-->
<!--        </details>-->
<!--    </div>-->
<!--</div>-->