<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Beauty Salon Schedule</title>
</head>
<body>
<div class="col-4 buttons">
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=en_US'" th:text="#{language.en}"></button>
    <button type="submit" class="btn btn-light" onclick="location.href='?lang=ua_UA'" th:text="#{language.ua}"></button>
</div>
<p th:utext="#{message.chosen.master(${master.getUser().getName()})}">Chosen master</p>
<p th:utext="#{output.master.schedule(${master.getTimeBegin()},${master.getTimeEnd()})}">Worktime</p>
<div class="info" th:if="${error}">
    <div class="alert alert-danger" role="alert" th:text="#{message.master.busy}">The master is busy at that time</div>
</div>
<form action="/user/saveappointment" th:each="day : ${days}">
    <div class="panel-body">
     <ul class="media-list">
        <li class="media">
            <div class="media-body">
                <div class="medi-heading">
                    <div class="autor"><h4 th:text="${day}"></h4></div>
                </div>
                <label class="radio-label" th:each="seance : ${time}">
                    <div class="radio1">
                        <input class="btn btn-link" type="submit" pattern="HH:mm"
                               th:value="${seance}" name="seanceTime"/>
                    </div>
                </label>
            </div>
        </li>
    </ul>
    <input type="hidden" th:value="${day}" name="day"/>
    </div>
</form>
</body>
</html>

