* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.container-low {*/
/*    overflow: hidden;*/
/*    height: 100px;*/

/*}*/

.nav {
    padding-left: 70%;
}

.h2 {
    text-shadow: 2px 2px 3px #20B2AA;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 40%;
    font-size: 50px;
    font-weight: 400;
}

.menu {
    margin-top: 10px;
    /* display: inline; /* Отображать как строчный элемент *!*/
}


.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #20B2AA; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

.box div button {
    position: relative;
    left: 0;
}
/*ul.hr li {*/
/*    display: inline; !* Отображать как строчный элемент *!*/
/*    margin-right: 5px; !* Отступ слева *!*/
/*    border: 1px solid #000; !* Рамка вокруг текста *!*/
/*    padding: 3px; !* Поля вокруг текста *!*/
/*}*/

.logout {
    position: relative;
    left: 86%;
}

/*ul .hr {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    left: 6%;*/
/*    top: 20px;*/
/*}*/



.treeHTML {
    line-height: normal;
}

.treeHTML details {
    display: block;
}

.treeHTML div {
    position: relative;
    margin: 0 0 0 .5em;
    padding: 0 0 0 1.2em;
}

.treeHTML summary {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.treeHTML details[open] summary {
    outline: none;
}

.footer  {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background: #20B2AA;
    color: #fff;
    width: 100%;
    float: left;
    text-align: center;
}


