<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Beauty Salon Index page</title>
</head>
<body>
<h4 th:text="#{message.language}"></h4>
<button type="button" class="btn btn-outline-secondary"> <a th:href="@{/index(lang='en_US')}" th:text="#{language.en}"></a></button>
<button type="button" class="btn btn-outline-secondary"> <a th:href="@{/index(lang='ua_UA')}" th:text="#{language.ua}"></a></button>
<!--/*@thymesVar id="date" type="java.time.LocalDate"*/-->
<span th:text="${{date}}"></span>
<div>
    <div class="name" th:text="${name}"></div>
    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="logout"></button>
</div>
</body>
</html>