<header th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <div>
        <div class="nav">
            <nav>
                <button type="submit" class="btn btn-outline-info" onclick="location.href='?lang=en_US'"
                        th:text="#{language.en}"></button>
                <button type="submit" class="btn btn-outline-info" onclick="location.href='?lang=ua_UA'"
                        th:text="#{language.ua}"></button>
                <button type="button" class="btn btn-info" onclick="location.href='/logout'"
                        th:text="#{logout}"></button>
            </nav>
        </div>
        <div>
            <h2 class="h2">Beauty Salon</h2>
        </div>
    </div>
</header>